.count {
    position: absolute;
    right: -10px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firm-icon{
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
}
