<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
    <div
        class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
    >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
            >
                {{ 'FORGOT_PASSWORD' | translate }}?
            </div>
            <div class="mt-0.5 font-medium">
                {{ 'FILL_THE_FORM_TO_RESET_YOUR_PASSWORD' | translate }}
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>

            <!-- Forgot password form -->
            <form
                class="mt-8"
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm"
            >
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>{{ 'EMAIL_ADDRESS' | translate }}</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    <mat-error
                        *ngIf="
                            forgotPasswordForm.get('email').hasError('required')
                        "
                    >
                        {{ 'EMAIL_ADDRESS_IS_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="
                            forgotPasswordForm.get('email').hasError('email')
                        "
                    >
                        {{ 'PLEASE_ENTER_A_VALID_EMAIL_ADDRESS' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()"
                >
                    <span *ngIf="!forgotPasswordForm.disabled">
                        {{ 'SEND_RESET_LINK' | translate }}
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>

                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary">
                    <span>{{ 'RETURN_TO' | translate }}</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']"
                        >{{ 'SIGN_IN' | translate }}
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-col flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-primary-800 dark:border-l"
    >
        <div class="watermark absolute top-0 left-0">
            <img
                src="assets/images/watermark.svg"
                class="text-primary-50"
                alt="Kamigo watermark"
            />
        </div>
        <!--        Kamigo LOGO -->
        <div class="logo d-flex item-center justify-center pb-8 z-10">
            <img
                src="assets/images/logo/logo-text-on-dark.svg"
                alt="kamigo-white-logo"
            />
        </div>
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-50">
                {{ 'FORGOT_EMAIL' | translate }}
            </div>
        </div>
        <div class="watermark absolute bottom-0 right-0">
            <img
                src="assets/images/watermark.svg"
                class="waterMark2"
                alt="Kamigo watermark"
            />
        </div>
    </div>
</div>
